In [9]:
import pandas as pd
import numpy as np

In [10]:
maindb = pd.read_csv("heart.csv")

In [11]:
maindb.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
Y=maindb.iloc[:,-1:] #result Y      
Xm=maindb.iloc[:,:-1] #main training set Xm

In [25]:
Xm=np.array(Xm)
Y=np.array(Y)

In [29]:
theta = np.zeros((13,1), dtype=int)